.u-center-text {
  text-align: center;
}

.u-mb-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-mb-small {
  margin-bottom: 1.5rem;
}

.u-mb-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-mt-big {
  margin-top: 8rem;

  @include respond(tab-port) {
    margin-top: 5rem !important;
  }
}

.u-mt-huge {
  margin-top: 10rem;
}
